apiVersion: v2
name: kube-otel-stack
description: Chart for sending Kubernetes metrics to Lightstep using the OpenTelemetry Operator.
type: application
version: 0.3.8
appVersion: 0.83.0
dependencies:
# cert manager must be manually installed because it has CRDs
# https://github.com/kubernetes-sigs/security-profiles-operator/issues/1062
# - name: opentelemetry-operator
#   repository: https://open-telemetry.github.io/opentelemetry-helm-charts
#   version: 0.15.0
- name: kube-state-metrics
  version: "4.20.2"
  repository: "https://prometheus-community.github.io/helm-charts"
  condition: kubeStateMetrics.enabled
- name: prometheus-node-exporter
  version: "4.3.0"
  repository: "https://prometheus-community.github.io/helm-charts"
  condition: nodeExporter.enabled
